<ng-container *ngIf="contattiFiltrati && contattiFiltrati.length > 0; else notFound">
  <p-orderList [value]="contattiFiltrati || contatti" styleClass="p-datatable-striped" [dragdrop]="true" ><!-- (onReorder)="salvaPosizionamento($event)" -->
    <ng-template pTemplate="header">
      <div style="display: flex; justify-content: space-between;">
        <th>Nome</th>
        <th>Cognome</th>
        <th class="text-center">Azioni</th>
      </div>
    </ng-template>
    <ng-template let-contatto pTemplate="item">
      <div class="flex align-items-center p-2 w-full flex-wrap">
        <div style="display: flex; justify-content: space-between; width: 100%;">
          <div><p class="align-left">{{ contatto.nome }}</p></div>
          <div><p class="align-left">{{ contatto.cognome }}</p></div>
          <div>
            <p-button class="edit-btn" icon="pi pi-user-edit" styleClass="p-button-warning p-button-rounded"
              [routerLink]="['/dettagli', contatto.id]"></p-button>
            <app-elimina-alert (onConfermaEliminazione)="mostraConfermaEliminazione(contatto)"></app-elimina-alert>
          </div>
        </div>
      </div>
    </ng-template>
  </p-orderList>
</ng-container>

<ng-template #notFound>
  <p-table>
    <ng-template pTemplate="header">
      <div>
        <app-not-found></app-not-found>
      </div>
    </ng-template>
  </p-table>
</ng-template>
