.container {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-content {
    margin: 5rem;
}

.center-text {
    text-align: center;
    padding-bottom: 1rem;
}
.title{
    font-weight: 600;
}

.navbar{
    margin-bottom: 1rem;
}