<!-- <p-table [value]="contattoSelezionato ? [contattoSelezionato] : []" styleClass="p-datatable-striped"
  [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Email</th>
      <th class="text-center">Azioni</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-contatto>
    <tr>
      <td>
        <input type="text" name="nome" pInputText [(ngModel)]="contatto.nome" class="full-radius" required
          pattern="[A-Za-z ]*" />
      </td>
      <td>
        <input type="text" name="cognome" pInputText [(ngModel)]="contatto.cognome" class="full-radius" required
          pattern="[A-Za-z ]*" />
      </td>
      <td>
        <input type="text" name="email" pInputText [(ngModel)]="contatto.email" class="full-radius" required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" />
      </td>
      <td class="text-end align-right">
        <p-button class="edit-btn" icon="pi pi-save" styleClass="p-button-success p-button-rounded"
          (click)="salvaContatto(contatto.id)"></p-button>
        <app-elimina-alert></app-elimina-alert>
      </td>
    </tr>
  </ng-template>
</p-table>
 -->
<p-orderList [value]="contattoSelezionato ? [contattoSelezionato] : []" [dragdrop]="false"
  [listStyle]="{ 'min-width': '10rem' }">
  <ng-template pTemplate="header">
    <div style="display: flex; justify-content: space-between;">
      <th class="fix-width-th align-left">Nome</th>
      <th class="fix-width-th align-left">Cognome</th>
      <th class="fix-width-th align-left">Email</th>
      <th class="fix-width-th azioni">Azioni</th>
    </div>
  </ng-template>
  <ng-template let-contatto pTemplate="item">
    <div class="flex align-items-center p-2 w-full flex-wrap">
      <div style="display: flex; justify-content: space-between; width: 100%;">
        <div class="fix-width-div">
          <input type="text" name="nome" pInputText [(ngModel)]="contatto.nome" class="full-radius" required
            pattern="[A-Za-z ]*" />
        </div>
        <div class="fix-width-div">
          <input type="text" name="cognome" pInputText [(ngModel)]="contatto.cognome" class="full-radius" required
            pattern="[A-Za-z ]*" />
        </div>
        <div class="fix-width-div">
          <input type="text" name="email" pInputText [(ngModel)]="contatto.email" class="full-radius" required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" />
        </div>
        <div class="fix-width-div align-right">
          <p-button class="edit-btn" icon="pi pi-save" styleClass="p-button-success p-button-rounded"
            (click)="salvaContatto(contatto.id)"></p-button>
            <app-elimina-alert (confermaEliminazione)="eliminaContatto(contattoSelezionato.id)"></app-elimina-alert>
        </div>
      </div>
    </div>
  </ng-template>
</p-orderList>