<form #contattoForm="ngForm" (ngSubmit)="salvaContatto()" class="navbar custom-form">
  <span class="p-input-icon-left">
    <i class="pi pi-user"></i>
    <input class="full-radius" type="text" placeholder="Nome" pInputText [(ngModel)]="contatto.nome" name="nome"
      required />
  </span>
  <span class="p-input-icon-left">
    <i class="pi pi-user"></i>
    <input class="full-radius" type="text" placeholder="Cognome" pInputText [(ngModel)]="contatto.cognome"
      name="cognome" required />
  </span>
  <span class="p-input-icon-left">
    <i class="pi pi-send"></i>
    <input class="full-radius" type="text" placeholder="Email" pInputText [(ngModel)]="contatto.email" name="email"
      required />
  </span>
  <p-button type="ngSubmit" styleClass="p-button-rounded p-button-success" label="Aggiungi"
    icon="pi pi-user-plus"></p-button>
</form>